# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# Conda
.conda/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Generated data
data/processed/

# Generated plots
static/images/plots/

# Logs
*.log